footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ac1d30;
    padding: 1rem;
    border: 2px black solid;
    color: aliceblue;
    width: 100%;
}
footer h3 {
    font-size: 1rem; 
}  
footer div a {
    bottom: 0;
    text-decoration: none;
    color: aliceblue;
    background-color: #0a5a1b;
    padding: 0.8rem;
    text-shadow: 3px 2px 5px black;
    border-radius: 1.2rem;
    box-shadow: 3px 2px 5px black;
    font-size: 1rem; 
}
footer div a:hover {
    background-color: #083d13;
    color: aliceblue; 
}